
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');


* {
    text-decoration: none !important;
}

/* Variables Start */

:root {
    --font-mukta: 'Mukta', sans-serif;
    --font-primary: 'Open Sans', sans-serif;

}

.account {
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.grad-account1 {
    background: linear-gradient(225deg, #781FD1 0%, #570EAB 100%);
}

.grad-account2 {
    background: linear-gradient(180deg, #64FA9B 0%, #5FE36A 100%);
}

.grad-account3 {
    background: linear-gradient(180deg, #4DF0F3 0%, #4D7BFD 100%);
}

.fs-time {
    font-size: 30px;
}

.gap-time {
    gap: 13px;
}

.font-mukta-d {
    font-family: var(--font-mukta);
    font-weight: 700;
    font-size: 33px;
}

.font-mukta-m {
    font-size: 24px;
}


.font1 {
    font-family: var(--font-primary);
    font-weight: 300;
}

.font2 {
    font-family: var(--font-primary);
    font-weight: 400;
}

.font3 {
    font-family: var(--font-primary);
    font-weight: 600 !important;
}

.color1 {
    color:#F9F9F9 !important;
}

.color2 {
    color: #A8A8A8;
}

.color3 {
    color:#FFA634;
}

.bg-color1 {
    background-color: #FFA634;

}

.bg-txt-gradient {
    background: linear-gradient( to left,
    #FF267A 0%,
    #FFA634 101.03%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Variables End */

#cards-scroll::-webkit-scrollbar {
    height: 10px;
}

#cards-scroll::-webkit-scrollbar-thumb {
    background-color: var(--bg-button);
    border: 5px solid #FFA634;
}

#cards-scroll::-webkit-scrollbar-track {
    background-color: #ffa7349c;
    
}


/* Mobile start */

@media (max-width: 1700px) {
    #cards-scroll {
        overflow-x: scroll !important;
        gap: 50px !important;
    }

    .ul-gap {
        gap: 30px;
        flex-direction: inherit;
    }
}



@media (max-width: 720px) {
    #h1-m {
        font-size: 21px; 
    }

    #h3-m {
        font-size: 18px;
        padding-top: 5px !important;
    }

    #time-h,
    #time-pm {
        font-size: 20px !important;
    }

    #kenai-p-loggin {
        font-size: 26px;
    }

    #section-img {
        position: relative;
        background-image: url(../images/bg-mobile.png) !important;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
    }

    .icon-none,
    #kenai-none {
        display: none;
    }

    .ul-gap {
        padding-left: 125px !important;
        gap: 0;
        flex-direction: row-reverse;
    }

    #btn-header {
        width: 100% !important;
    }

    #icons-footer {
        width: 100% !important;
        justify-content: space-between;
        padding: 25px 0;
    }

    .card-w-h {
        max-width: 250px !important;
        height: 400px !important;
    }

    #section-movies {
        bottom: -220px !important;
    }

    footer {
        height: 340px !important;
    }

    #cards-scroll {
        width: 100% !important;
        overflow-x: scroll !important;
        gap: 30px;

    }

}

/* Mobile start */
